{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center">My Drinks For {{ date }}</h2>
    <br/><br/>
    {% if not user_drinks %}
        <div class="text-center">
            <a href="{% url 'add drink' %}" class="btn btn-primary">Add Drink</a>
            {% if all_user_drinks %}
                <a href="{% url 'my history' user_pk %}" class="btn btn-primary">My History</a>
            {% endif %}
        </div>
    {% else %}
        <div class="text-center">
            <a href="{% url 'add drink' %}" class="btn btn-primary">Add Drink</a>
            {% if all_user_drinks %}
                <a href="{% url 'my history'  user_pk %}" class="btn btn-primary">My History</a>
            {% endif %}
        </div>
        <div class="row">
            {% for drink in user_drinks %}
                    <div class="d-inline p-2 w-50">
                        {% if drink.image %}
                            <img style="width: 50%" src="{{ drink.image.url }}"
                                 class="card-image" alt="">
                        {% else %}
                            <img style="width: 50%" src="/static/drinks.png"
                                 class="card-image" alt="">
                        {% endif %}
                        <div style="width: 18rem;">
                            <h5>Name: {{ drink.drink }}</h5>
                            <h5>Weight: {{ drink.weight }} grams</h5>
                            <h5>Calories: {{ drink.calories| floatformat:1 }} kcal</h5>
                            <a href="{% url 'edit drink' drink.pk %}" class="btn btn-primary">Edit Drink</a>
                            <a href="{% url 'delete drink' drink.pk %}" class="btn btn-danger">Delete Drink</a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                    {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}